<p (click)="click()">gracias works!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sint quasi iure vitae non facilis veniam pariatur, nobis hic perspiciatis? Vel dicta neque ab itaque pariatur exercitationem repellat delectus qui!</p>