<ul>
    <li routerLink="home">Home</li>
    <li routerLink="about">About</li>
    <li routerLink="gracias">Gracias</li>
    <li routerLink="contacto">Contactanos</li>
</ul>

<router-outlet></router-outlet>